body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
     background: url(images/MicrosoftTeams-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: white;
}
h2{
    color: white;
    
}
label{
    color: white;
}